export CHIRPY_DB_DSN=postgres://postgres:postgres@localhost:5432/chirpy
export CHIRPY_PLATFORM=dev
export CHIRPY_API_SECRET=QWz4FM7vl6HEkeGn8HNwKSjr+tbyE/r5nljp7ep5ut4UY53yPZhBQOuTqqG20kmWu9FhxQXoxxkJ0wv8W0AGDw==
